* {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #495e57;
}

button {

}

.subtitle {
    margin-bottom: 0.5rem;
}

.content {
    max-width: 1280px;
    margin: auto;
}

nav ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 1rem;
}

nav ul li {
    /*align-items: stretch;*/
    display: inline;
    padding: 1rem;
    white-space: nowrap;
}

.container {
    margin: auto;
}

.header {
    background-color: #edefee;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header .item {
    height: 3rem;
    padding: 0.8rem;
}

.logo {
    margin-left: 1rem;
}

.logo img {
    height: 100%;
}

.banner {
    display: flex;
    width: 100%;
    background-color: #495e57;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.banner * {
    color: #edefee;
}

.banner h2 {
    color: #f4ce14;
    font-size: xxx-large;
}

.banner button {
    color: #495e57;
    background-color: #f4ce14;
    padding: 0.8rem;
    font-size: large;
    font-weight: bold;
    border: solid 1px #333333;
    border-radius: 2rem;
    margin: 2rem auto;
    position: relative;
    bottom: -1rem;
}

.banner .subtitle {
    font-size: x-large;
    margin-bottom: 3rem;
}

.banner p {
    line-height: 1.8rem;
    text-align: justify;
}

.banner .text {
    padding: 2rem;
    color: #edefee;
    /*width: 50%;*/
}

.banner .photo {
    max-width: 600px;
    display: inline-flex;
    padding: 1rem;
}

.banner img {
    border: solid 2px #333333;
    border-radius: 0.5rem;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 600px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .container {
        max-width: 1280px;
    }
}