@import url('https://fonts.googleapis.com/css?family=Special+Elite');

* {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #495e57;
}

button {

}

.subtitle {
    margin-bottom: 0.5rem;
}

.content {
    max-width: 1280px;
    margin: auto;
}

nav ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

nav ul a {
    /*align-items: stretch;*/
    display: inline;
    padding: 1rem;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}

nav ul a:hover {
    border-radius: 2rem;
    background-color: #495e57;
}

nav ul a:hover li {
    color: #edefee;
}

nav ul li a {
    text-decoration: none;
}

.container {
    margin: auto;
    background-color: #edefee;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid 0.2rem #495e57;
}

.header .item {
    height: 3rem;
    padding: 0.8rem 0 0.8rem 0.8rem;
}

.header > a {
    align-self: center;
}

.logo {
    margin-left: 1rem;
}

.logo img {
    height: 100%;
}

.menu-icon {
    display: none;
    margin-top: 3vw;
    height: 18vw;
}

.menu-icon div {
    width: 10vw;
    height: 1vw;
    margin: 3vw auto 0;
    background-color: #495e57;
    transition: 0.4s;
}

.menu-icon:hover div {
    background-color: #f4ce14;
}

.menu-icon.open .bar-1 {
    transform: translate(0, 4vw) rotate(45deg);
}

.menu-icon.open .bar-2 {opacity: 0;}

.menu-icon.open .bar-3 {
    transform: translate(0, -4vw) rotate(-45deg);
}

.banner {
    display: flex;
    width: 100%;
    background-color: #495e57;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.banner * {
    color: #edefee;
}

.banner h1, footer h1 {
    color: #f4ce14;
    font-size: xxx-large;
}

.banner button {
    color: #495e57;
    background-color: #f4ce14;
    padding: 0.8rem;
    font-size: large;
    font-weight: bold;
    border: solid 1px #333333;
    border-radius: 2rem;
    margin: 2rem auto;
    position: relative;
    bottom: -1rem;
}

.banner button:hover {
    color: #495e57;
    background-color: #edefee;
}

.banner .subtitle, footer .subtitle {
    font-size: x-large;
    margin-bottom: 3rem;
}

.banner p {
    line-height: 1.8rem;
    text-align: justify;
}

.banner .text, footer .text {
    padding: 2rem;
    color: #edefee;
    /*width: 50%;*/
}

.banner .photo {
    max-width: 600px;
    display: inline-flex;
    padding: 1rem;
}

.banner img {
    border: solid 2px #333333;
    border-radius: 0.5rem;
    width: 100%;
    object-fit: cover;
}

article h1 {
    font-size: xx-large;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: uppercase;
}

article h1::after {
    content: "";
    display: block;
    width: 30vw;
    margin: 0.5rem auto;
    border-bottom: 0.2rem solid #f4ce14;

}

.specials, .testimonials {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 4rem;
}

.dish {
    /*min-width: 200px;*/
    max-width: 30%;
    background: white;
    border: 1px solid #495e57;
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dish img {
    width: 100%;
    height: 28vw;
    object-fit: cover;
}

.dish h3 {
    padding: 0.6rem;
}

.dish p {
    padding: 0 0.6rem 0.8rem;
    font-size: smaller;
    text-align: justify;
    text-overflow: ellipsis;
}

.comment {
    max-width: 90%;
    padding-inline: 0.8rem;
}

.comment p {
    text-align: right;
    padding-right: 2rem;
    font-weight: bold;
    font-style: italic;
}

blockquote {
    position: relative;
    padding: 0.5rem 2rem;
    font-style: italic;
    text-align: justify;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

blockquote:before, blockquote:after {
    position: absolute;
    color: darkgray;
    font-family: serif;
    font-size: 5rem;
}

blockquote:before {
    content: '“';
    left: -1rem;
    top: -1rem;
}

footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: left;
}

footer * {
    color: #edefee;
}

footer .text {
    min-width: 40%;
}

footer.container{
    background-color: #495e57;
}

footer .contact {
    padding: 2rem;
}

footer h4 {
    color: white;
    padding-bottom: 1rem;
}

form {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form .submit {
    margin-top: 1rem;
    grid-column: 1/-1;
    text-align: center;
}

form .submit input {
    margin: 0 auto;
    justify-content: center;
    color: #edefee;
    background-color: #495e57;
    padding: 0.8rem;
    font-weight: bold;
    border: solid 1px #333333;
    border-radius: 2rem;
    position: relative;
}

form .submit input:hover {
    color: #495e57;
    background-color: #f4ce14;
}

form > div > input[type=text], input[type=tel] {
    width: 100%;
    box-sizing: border-box;
}

.booking, .confirmation{
    box-sizing: border-box;
    padding: 1.5rem;
}

.confirmation h1 {
    margin-bottom: 1rem;
}

.error {
    font-size: x-small;
    color: red;
}


@media (min-width: 900px) {
    .container {
        max-width: 1280px;
    }

    form {
        row-gap: 0.8rem;
    }
}

@media (max-width: 800px) {
    .testimonials{
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    .header {
        grid-template-columns: 1fr;
    }

    .header .item {

    }

    nav ul {
        justify-content: space-around;
    }
    .logo {
        text-align: center;
        padding: 2rem 0;
        border-bottom: solid 0.1rem;
        margin-left: unset;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    .header {
        grid-template-columns: 1fr 5rem;
    }

    .header nav.item {
        grid-column: 1/-1;
        /*justify-self: stretch;*/
        padding: 2rem;
        height: 100%;
        box-sizing: border-box;
        border-top: solid 0.2rem;
    }

    .header nav.close {
        display: none;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul a {
        padding: 0.6rem;
    }

    .logo {
        text-align: left;
        margin-left: 1rem;
        border-bottom: none;
    }

    .menu-icon {
        display: inline;
        justify-content: center;
        text-align: center;
    }

    .specials, .testimonials{
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .dish {
        width: 90%;
        max-width: unset;
    }

    .dish img {
        height: 80vw;
    }

    form {
        grid-template-columns: 1fr;
    }

    form label {
        margin-top: 0.8rem;
    }

    .banner {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }
}

