@import url('https://fonts.googleapis.com/css?family=Special+Elite');

* {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #495e57;
}

button {

}

.subtitle {
    margin-bottom: 0.5rem;
}

.content {
    max-width: 1280px;
    margin: auto;
}

nav ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 1rem;
}

nav ul li {
    /*align-items: stretch;*/
    display: inline;
    padding: 1rem;
    white-space: nowrap;
}

.container {
    margin: auto;
    background-color: #edefee;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid 0.2rem #495e57;
}

.header .item {
    height: 3rem;
    padding: 0.8rem;
}

.logo {
    margin-left: 1rem;
}

.logo img {
    height: 100%;
}

.banner {
    display: flex;
    width: 100%;
    background-color: #495e57;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.banner * {
    color: #edefee;
}

.banner h1, footer h1 {
    color: #f4ce14;
    font-size: xxx-large;
}

.banner button {
    color: #495e57;
    background-color: #f4ce14;
    padding: 0.8rem;
    font-size: large;
    font-weight: bold;
    border: solid 1px #333333;
    border-radius: 2rem;
    margin: 2rem auto;
    position: relative;
    bottom: -1rem;
}

.banner button:hover {
    color: #495e57;
    background-color: #edefee;
}

.banner .subtitle, footer .subtitle {
    font-size: x-large;
    margin-bottom: 3rem;
}

.banner p {
    line-height: 1.8rem;
    text-align: justify;
}

.banner .text, footer .text {
    padding: 2rem;
    color: #edefee;
    /*width: 50%;*/
}

.banner .photo {
    max-width: 600px;
    display: inline-flex;
    padding: 1rem;
}

.banner img {
    border: solid 2px #333333;
    border-radius: 0.5rem;
    width: 100%;
    object-fit: cover;
}

article h1 {
    font-size: xx-large;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: uppercase;
}

article h1::after {
    content: "";
    display: block;
    width: 30vw;
    margin: 0.5rem auto;
    border-bottom: 0.2rem solid #f4ce14;

}

.specials, .testimonials {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 4rem;
}

.dish {
    /*min-width: 200px;*/
    max-width: 300px;
    background: white;
    border: 1px solid #495e57;
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dish img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.dish h3 {
    padding: 0.6rem;
}

.dish p {
    padding: 0 0.6rem;
    font-size: smaller;
    text-align: justify;

}

.comment {
    max-width: 300px;
}

.comment p {
    text-align: right;
    padding-right: 2rem;
    font-weight: bold;
    font-style: italic;
}

blockquote {
    position: relative;
    padding: 0.5rem 2rem;
    font-style: italic;
    text-align: justify;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

blockquote:before, blockquote:after {
    position: absolute;
    color: darkgray;
    font-family: serif;
    font-size: 5rem;
}

blockquote:before {
    content: '“';
    left: -1rem;
    top: -1rem;
}

footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: left;
}

footer * {
    color: #edefee;
}

footer .text {
    min-width: 400px;
}

footer.container{
    background-color: #495e57;
}

footer .contact {
    padding: 2rem 1rem;
}

footer h4 {
    color: white;
    padding-bottom: 1rem;
}

form {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form .submit {
    margin-top: 1rem;
    grid-column: 1/-1;
    text-align: center;
}

form .submit input {
    margin: 0 auto;
    justify-content: center;
    color: #edefee;
    background-color: #495e57;
    padding: 0.8rem;
    font-weight: bold;
    border: solid 1px #333333;
    border-radius: 2rem;
    position: relative;
}

form .submit input:hover {
    color: #495e57;
    background-color: #f4ce14;
}

form > div > input[type=text], input[type=tel] {
    width: 100%;
    box-sizing: border-box;
}

.booking, .confirmation{
    box-sizing: border-box;
    padding: 1.5rem;
}

.confirmation h1 {
    margin-bottom: 1rem;
}

.error {
    font-size: x-small;
    color: red;
}


@media (min-width: 900px) {
    .container {
        max-width: 1280px;
    }

    form {
        row-gap: 0.8rem;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    .specials {
        flex-direction: column;
    }

    form {
        grid-template-columns: 1fr;
    }

    form label {
        margin-top: 0.8rem;
    }
}

